[package]
name = "domain"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.98"
async-trait = "0.1"
chrono = { version = "0.4.41", features = ["serde"] }
schemars = "0.8.21"
serde = "1.0.219"
serde_json = "1.0.140"
thiserror = "2.0.12"
